.swAppliedCourseContainer{
  width: 100%; height: auto;
}
.swAppliedCourseContainer h2{
  text-align: center;
  font-weight: normal;
  letter-spacing: 5px;
  font-size: 28px;
}
.swAppliedCourses{
  width: 100%; display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}
.swAppliedCourse{
  width: 255px; height: 153px;
  background-color: #ccc;
  background-size: cover;
  overflow: hidden; cursor: pointer;
  background-position: center center;
  margin: 10px; border-radius: 7px;
  box-shadow: 0 0 0px 0 gray;
  transition: all 0.3s;
}
.swAppliedCourse:hover{
  box-shadow: 0 0px 10px 0px gray;
}
.swEachCourseBox,.swEachCourse{
  width: 100%; height: auto;
  margin-top: 40px;
}
.swEachCourseBox hr{
  width: 200px; height: 2px;
  margin: 0 auto 0px auto;
  background-color: #ccc;
}
.swEachCourse h2{
  text-align: center;
  font-weight: normal;
  color: orangered;
  letter-spacing: 3px;
  font-size: 30px;
  margin-bottom: 8px;
}
.swEachCourse_id{
  width: 100%; display: flex;
  justify-content: center;
}
.swEachCourse_id h4{
  background-color: orangered;
  letter-spacing: 3px; color: white;
  padding: 7px 12px 8px 16px;
  border-radius: 7px;
  margin-bottom: 5px;
}