.blogPage{
  max-width: 600px;
  margin: 0 auto;
  height: auto;
}
.blogPageHead1{
  width: 100%; display: flex;
}
.blogPageHead1 button{display: none}
.blogPageHead1 h2{
  font-weight: normal;
  letter-spacing: 1px;
  font-size: 27px;
}
.blogPageHead img{
  width: 100%; margin: 10px 0;
  border-radius: 10px;
}
.blogBodySection{
  width: 100%; display: flex;
  align-items: center;
  justify-content: space-between;
}
.blogBodySection1{
  display: flex;
  align-items: center;
}
.blogBodySection1 img{
  width: 37px; height: 37px;
  border-radius: 100%;
  margin-right: 5px;
}
.blogBodySection1 h5{
  letter-spacing: 0.5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.blogBodySection1 button{
  font-size: 27px; margin-left: 15px;
  background-color: transparent;
}
.blogBodySection1 button:nth-child(1){margin-right: 30px}
.blogBodySection2{margin-top: 30px}
.blogBodySection21{margin-bottom: 15px}
.blogBodySection21 p{
  font-size: 20px;
  letter-spacing: 0.7px;
  margin-bottom: 15px;
}
.blogBodySection21 h3{
  font-weight: normal;
  font-size: 25px;
}


@media screen and (max-width: 420px) {
  .blogPage{width: 95%;}
  .blogBodySection1 button:nth-child(1){margin-right: 10px}
  .blogPageHead1 button{
    width: 75px; height: 50px;
    display: block; font-size: 23px;
    margin: 7px 10px auto 0;
    padding-bottom: 1px; color: white;
    background-color: orangered;
  }
}
