.portfolioHead{
  width: 100%; height: auto;
  box-sizing: border-box;
  padding: 0 13px;
}
.portfolioHead h1{
  font-weight: normal;
  letter-spacing: 3px;
  color: orangered;
  padding-left: 1px;
}

.portfolioBody{
  width: 100%; height: auto;
  margin-top: 40px; display: flex;
  flex-wrap: wrap;
}
.portfolioProjectContainer{
  width: calc(1100px / 3); height: 625px;
  box-sizing: border-box; padding: 0 15px;
  margin-bottom: 30px;
}
.portfolioProjectBox{
  width: 100%; height: 100%;
  background-color: #bbb;
  border-radius: 7px;
  overflow: hidden;
}
.ppImage{
  width: 100%; height: 202px;
  background-color: #2e3033;
  border-radius: 7px;
}
.ppDetails{
  box-sizing: border-box;
  padding: 0 14px;
}
.ppDetails h2{
  font-weight: normal;
  margin-left: -1px;
  letter-spacing: 1.5px;
  margin-top: 10px;
  font-size: 27px;
}
.ppDetails p{
  font-size: 18px;
  letter-spacing: 0.6px;
  margin-top: 15px; 
}
.ppDetailsField{
  width: 100%; height: auto;
  margin-top: 15px;
}
.ppDetailsField h5{
  letter-spacing: 2px;
}
.ppDetailsField h3{
  font-size: 22px;
  font-weight: normal;
  letter-spacing: 2px;
  word-wrap: break-word;
}
.ppdfImages{
  width: 100%; display: flex;
  margin-top: 7px;
}
.ppdfImage{
  width: 50px; height: 50px;
  margin-right: 10px;
  background-color: #2e3033;
  border-radius: 5px;
}
.ppdfImage img{
  width: 100%; height: 100%;
  display: block;
}
.ppDetailsField button{
  width: 100%; height: 50px;
  font-size: 18px; padding: 0 0 2px 3px;
  letter-spacing: 3px; font-weight: bold;
  background-color: orangered;
  border-radius: 5px; color: white;
}