.addCourseInfoList h1,
.replyToStudent h1{
  font-weight: normal; letter-spacing: 2px;
  color: gray; margin-bottom: 20px;
}
.mErrorP{
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  font-size: 14px;
  margin-top: 50px;
}
.addCourseInfoList ul li{
  display: flex;
  margin-bottom: 5px;
}
.addCourseInfoList ul li i{
  padding-top: 2px; margin-right: 10px;
  color: green;
}
.addCourseInfoList ul li p{
  font-weight: bold; letter-spacing: 1.5px;
  font-size: 15px; color: gray;
}
.addCourseInfoList ul li p b{color: royalblue}

.replyToStudent h3{
  letter-spacing: 2px;
}
.replyToStudent textarea{
  background-color: rgba(65, 105, 225, 0.35);
  width: 100%; font-weight: bold;
  color: royalblue; font-size: 16px;
  letter-spacing: 1.6px; padding: 10px 15px;
  border-radius: 10px; margin: 5px 0 10px 0;
  resize: none; overflow-x: none; overflow-y: scroll;
}
.replyToStudent textarea::-webkit-input-placeholder{
  color: royalblue;
}
.replyToStudent textarea::-webkit-scrollbar{width: 5px}
.replyToStudent textarea::-webkit-scrollbar-thumb{
  background-color: goldenrod;
  border-radius: 10px;
}
.replyToStudent button{
  margin: 0 0 0 auto;
  width: 100px; height: 40px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 15px; color: white;
  padding: 0 0 1px 3px;
  letter-spacing: 2px;
  background-color: goldenrod;
}

.courseNblogTextarea{
  width: 100%; resize: none; display: block;
  overflow: hidden; margin-bottom: 7px;
  background-color: #ddd; border-radius: 5px;
  box-sizing: border-box; padding: 5px 9px;
  font-weight: bold; letter-spacing: 0.8px;
}
.courseNblogCnt{
  width: 100%; display: flex;
  margin-bottom: 7px;
}
.courseNblogCnt button{
  width: 100px; font-weight: bold; font-size: 15px;
  margin-left: 8px; letter-spacing: 2px;
  padding-left: 3px; border-radius: 5px;
  background-color: red; color: white;
}
.courseNblogBox,
.blogNcourseBox{
  display: flex; align-items: center;
  background-color: royalblue;
  padding: 6px 10px 6px 8px;
  border-radius: 5px; color: #2e3033;
}
.courseNblogBox i,
.blogNcourseBox i{
  font-size: 15px; margin-right: 5px;
  width: 18px; text-align: center;
}
.courseNblogBox h5,
.blogNcourseBox h5{
  font-size: 15px;
  letter-spacing: 1px;
}
.courseNblogEditBtn{
  width: 120px; border-radius: 7px;
  padding: 10px 0px 11px 0px;
  display: flex; align-items: center;
  justify-content: center; color: white;
  background-color: green;
}
.courseNblogEditBtn h5{
  font-size: 18px;
  letter-spacing: 2px;
  margin-right: 6px;
}
.courseNblogEditBtn i{ font-size: 17px; }
.cabEditRoom{
  width: 100%; margin-top: 20px;
}
.cabEditRoomForm{
  width: 100%; box-sizing: border-box;
  background-color: #ddd;
  padding: 10px 10px 0.1px 10px;
  margin-top: 7px; border-radius: 7px;
}
.cabEditRoomField{
  width: 100%; margin-bottom: 15px;
}
.cabEditRoomField h5{
  letter-spacing: 2px; font-size: 12px;
  padding-left: 2px; margin-bottom: 3px;
}
.cabEditRoomFieldTa{
  width: 100%; margin-bottom: 10px;
}
.cabEditRoomField input,
.cabEditRoomField textarea,
.cabEditRoomFieldTa textarea{
  width: 100%; font-size: 16px;
  padding: 10px 12px; resize: vertical;
  letter-spacing: 0.8px; border-radius: 5px;
  overflow: hidden;
}
.cabEditRoomFieldTa2 textarea{
  margin-top: 5px; width: 95%;
  margin-left: 5%;
}
.acfIntern{
  width: 100%; display: flex;
  align-items: center;
  cursor: pointer;
}
.acfIntern button{
  width: 18px; height: 18px;
  background-color: white;
  border-radius: 3px;
  font-size: 13px; color: #DB4437;
}
.acfIntern button:active{
  transform: scale(1);
}
.acfIntern h5{
  color: white;
  margin-left: 10px;
}
.cabEditRoomField .acfIntern h5{
  color: black;
}
.cabImageContainer1{
  width: 333.33px; height: 200px;
  background-color: #2e3033;
  margin: 0 auto; border-radius: 7px;
  overflow: hidden;
}
.cabImageContainer1 img{
  width: 100%; height: 100%;
}
.cabImageContainer{
  width: 250px; height: 200px;
  margin: 0 auto; border-radius: 5px;
  background-color: #ccc;
  overflow: hidden;
}
.cabImageBox{
  width: 100%; height: 150px;
  background-color: gray;
  border-radius: 5px;
  overflow: hidden;
}
.cabImageBox img{
  width: 100%; height: 100%;
}
.cabImageCntrl{
  width: 100%; height: 50px;
}
.cabImageCntrlBtns{
  width: 100%; height: 100%;
  display: flex; align-items: center;
  justify-content: space-around;
}
.cabImageCntrlBtns button{
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 5px;
  padding: 8px 11px 8px 12px;
}
.cabEditRoomBtns{
  width: 100%; display: flex;
  justify-content: space-between;
}
.cabEditRoomBtns button{
  font-weight: bold; color: white;
  letter-spacing: 2px;
  margin: 10px 0 15px 0;
  padding: 10px 14px 11px 16px;
  border-radius: 5px;
}

.blogNcourseBox{
  background-color: orangered;
}




.confirmAdminRemove h4{
  letter-spacing: 2px;
  color: royalblue;
}
.maConfirmForm{padding-bottom: 10px}
.maConfirmForm .formField{
  width: 100%;
  margin-top: 20px;
}
.maConfirmForm .formField h5{
  letter-spacing: 2.5px;
  color: gray; padding-left: 1px;
}
.maConfirmForm .formField input{
  width: 100%; font-size: 26px;
  letter-spacing: 1.5px; color: black;
  background-color: transparent;
  margin-left: -1px; padding: 5px 0;
  border-right: 5px solid transparent;
  transition: all 0.25s;
}
.maConfirmForm .formField input::-webkit-input-placeholder{color: gray}
.maConfirmForm .formField input:focus{
  border-right-color: gray;
}
.maConfirmForm .formField button{
  width: 200px; height: 50px;
  padding-bottom: 1px; color: white;
  background-color: #3cba54;
  font-size: 17px; font-weight: bold;
  letter-spacing: 3px; border-radius: 7px;
  box-shadow: 0px 3px 10px -3px black;
}

/* 9 */
.submitReportHead{
  width: 100%; height: auto;
}
.submitReportHead h2{
  letter-spacing: 2px;
  font-weight: normal;
  margin-bottom: 10px;
  color: gray;
}
.submitReportHead p{
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 3px;
}
.submitReportHead1{
  width: 100%; display: flex;
  align-items: center;
}
.submitReportHead1Img{
  width: 32px; height: 32px;
  background-color: gray;
  margin-right: 5px;
  border-radius: 5px;
}
.submitReportHead1 h5{
  letter-spacing: 1px;
}
.submitReportBody1{
  margin-bottom: 20px;
}
.eachReportBox{
  width: 100%; display: flex;
  align-items: flex-start;
  background-color: #ccc;
  box-sizing: border-box;
  border-radius: 5px; padding: 10px;
  margin-top: 10px;
}
.eachReportrc h5{
  text-align: right;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 14px;
  margin-bottom: 2px;
  margin-top: 1px;
}
.eachReportPre{
  background-color: white;
  box-sizing: border-box;
  padding: 5px 8px; margin: 0 5px;
  border-radius: 5px;
}
.eachReportBox button{
  font-size: 16px; color: red;
  background-color: transparent;
}
.submitReportBody21{
  width: 100%; display: flex;
  align-items: center;
  justify-content: flex-end;
}
.submitReportBody21 input{
  width: 80px; height: 40px;
  font-weight: bold; text-align: center;
  background-color: #ddd;
  letter-spacing: 2px; margin-left: 5px;
  border: solid 2px #aaa;
  border-radius: 7px;
}
.submitReportBody21 button{
  width: 80px; height: 40px; color: white;
  margin-left: 5px; font-weight: bold;
  font-size: 13px; letter-spacing: 2px;
  padding-left: 3px; border-radius: 5px;
  background-color: brown;
}
.submitReportBody2 textarea{
  width: 100%; font-size: 13px;
  font-weight: bold; padding: 3px 6px;
  background-color: #ddd;
  border: solid 2px #aaa;
  border-radius: 7px; letter-spacing: 1px;
  margin: 5px 0 15px 0;
}

.submitReportBody3{
  width: 100%; display: flex;
  align-items: center;
  justify-content: flex-end;
}
.submitReportBody3 button{
  font-weight: bold; width: 100px;
  height: 40px; margin-left: 10px;
  letter-spacing: 3px; padding-left: 3px;
  border-radius: 5px; color: white;
  background-color: red;
}
.submitReportBody3 button:nth-child(2){
  background-color: green;
}




.maBlogConfirmation{
  width: 100%; height: auto;
  text-align: center;
}
.maBlogDetails h3{
  font-weight: normal;
  font-size: 20px;
  letter-spacing: 0.6px;
}
.maBlogDetails h4{
  letter-spacing: 0.8px;
  line-height: 17px;
  margin-top: 10px;
}
.maBlogImage{
  width: 100%; height: auto; margin: 15px 0;
  box-shadow: 0px 1px 10px -2px gray;
}
.maBlogImage img{
  display: block;
  width: 100%; height: auto;
  border-radius: 7px;
}
.maBlogDetails p,
.maCourseDetails p{
  letter-spacing: 0.4px;
  margin-top: 10px;
  font-size: 17px;
}
.maBlogGap{
  width: 100%; margin: 35px 0;
}
.maBlogDetails b{
  font-size: 18px;
  letter-spacing: 0.6px;
  margin-top: 10px;
}
.maBlogDetails textarea,
.maBlogFoot1 textarea{
  width: 100%; font-weight: bold;
  background-color: #ddd;
  margin-top: 10px; padding: 7px 10px;
  letter-spacing: 0.8px; resize: none;
  border-radius: 7px; overflow: hidden;
}

.maBlogFoot{
  width: 100%;
  margin-top: 50px;
}
.maBlogResButns{
  width: 100%; display: flex;
  justify-content: center;
}
.maBlogResButns button{
  width: 120px; height: 40px;
  font-weight: bold; border-radius: 5px;
  letter-spacing: 2px; margin: 0 10px;
  background-color: rgb(248, 3, 3);
  font-size: 16px; color: white;
  padding-left: 2px;
}
.maBlogResButns button:nth-child(2){
  background-color: green;
}
.maBlogFoot1 textarea{
  border: solid 1px gray;
  background-color: white;
  margin-bottom: 15px; resize: vertical;
}

.maCourseDetails{
  width: 100%; margin-bottom: 30px;
}
.maCourseDetails h2{
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 27px;
}
.maCourseBox{
  width: 100%;
  margin-top: 20px;
}
.maCourseBox h5{
  color: gray;
  margin-bottom: 4px;
  letter-spacing: 2.5px;
}
.maCourseBox p{
  font-size: 22px;
  letter-spacing: 1.5px;
}
.maCourseBox1 p{ 
  font-size: 19px; line-height: 22px;
}
.maCourseBox ul{
  width: 100%; margin-top: 2px;
  box-sizing: border-box;
  padding-left: 12px;
  margin-bottom: 7px;
}
.maCourseBox ul li{
  width: 100%; display: flex;
  align-items: center;
  margin-top: 1px;
}
.maCourseBox ul li i{
  font-size: 7px;
  margin-right: 5px;
}
.maCourseBox ul li p{
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
}
.maCourseExtraForm{
  width: 100%;
  margin-bottom: 20px;
}
.maCourseExtraForm input,
.maCourseExtraForm textarea{
  width: 100%; font-weight: bold;
  background-color: #ddd; resize: vertical;
  font-size: 15px; padding: 14px; border: none;
  letter-spacing: 1.5px; border-radius: 5px;
  margin-bottom: 10px; overflow: hidden;
}