.bContainerHead{
  width: 100%; padding: 0 6px;
  box-sizing: border-box;
}
.bContainerHead h1{
  font-weight: normal;
  letter-spacing: 3px;
  color: orangered;
}
.bContainerBody{
  width: 100%; height: auto;
  margin-top: 40px;
  display: flex; flex-wrap: wrap;
}
.blogBodyContainer{
  width: calc(1100px / 4);
  height: 415px; padding: 7.5px;
  box-sizing: border-box;
}
.blogBodyBox{
  width: 100%; height: 100%;
  background-color: white;
  box-shadow: 0 1px 10px -2px gray;
  overflow: hidden; border-radius: 7px;
}
.blogBodyBoxImage{
  width: 100%; height: 150px;
  background-color: #2e3033;
}
.blogBodyBoxHead,
.blogBodyBoxFoot{
  width: 100%; height: 45px;
  box-sizing: border-box; padding: 0 7px;
  display: flex; align-items: center;
  justify-content: space-between;
}
.blogBodyBoxFoot{ height: 36px }
.blogBodyBoxHead1,
.blogBodyBoxFoot1{
  display: flex;
  align-items: center;
}
.blogBodyBoxHead1Img{
  width: 32px; height: 32px;
  background-color: #2e3033;
  margin-right: 7px;
  border-radius: 4px;
}
.blogBodyBoxHead1 h5{
  letter-spacing: 1px;
  line-height: 17px;
  color: #2e3033;
}
.blogBodyBoxBody{
  width: 100%; height: 169px;
  font-weight: bold; padding: 5px 8px;
  letter-spacing: 0.6px; overflow: hidden;
  box-sizing: border-box; color: #2e3033;
}
.blogBodyBoxFoot1 h4{
  font-size: 18px;
  padding-bottom: 1px;
  margin-left: 5px;
  color: #2e3033;
}
.blogBodyBoxFoot1:nth-child(1) i{ color: royalblue }
.blogBodyBoxFoot1:nth-child(2) i{
  font-size: 17px; color: red;
  padding-bottom: 1px;
}

@media screen and (max-width: 420px) {
  .bContainerBody{
    margin-top: 30px;
    justify-content: center;
  }
  .blogBodyContainer{
    width: 80%; margin-bottom: 20px;
  }
}