.studentCoursesBox{
  width: 100%; display: flex;
  flex-wrap: wrap;
  padding-bottom: 50px;
  margin-top: 40px;
}
.studentCourseContainer{
  width: calc(1100px / 3); height: auto;
  box-sizing: border-box; padding: 0 13.3px;
}
.studentCourseBox{
  width: 100%; height: 100%;
  border-radius: 7px;
  background-color: #bbb;
  overflow: hidden;
  padding-bottom: 20px;
}
.studentCourseBox p{
  font-size: 26px; line-height: 30px;
  letter-spacing: 1.5px;
  color: black; padding: 9px 13px;
}
.scbImageBox{
  width: 100%; height: 204px;
  background-color: #2e3033;
  position: relative; overflow: hidden;
  overflow: hidden; border-radius: 5px;
}
.scbImageBox img{width: 100%; height: 100%;}
.scbImageBox1{
  width: 100%; height: 100%; padding: 10px;
  position: absolute; top: 0px; left: 0px;
  box-sizing: border-box;
}
.scbiIconText{
  width: 100%; display: flex;
  margin-bottom: 7px;
}
.scbiIconText1{
  display: flex; align-items: center;
  background-color: rgba(255, 255, 255, 0.85);
  color: black; border-radius: 4px;
  padding: 3px 8px 4px 8px;
}
.scbiIconText1 i{
  font-size: 15px;
  margin-right: 5px;
}
.scbiIconText1 h4{ letter-spacing: 1px }
@media screen and (max-width: 420px) {
  .homeBox{flex-wrap: wrap}
  .hb2{flex-wrap: wrap-reverse}
  .homeBox1{
    width: 100%; height: auto;
    text-align: center;
    margin-top: 70px;
  }
  .homeBox1 img,.homeBox1 p{width: 85%}
  .studentCourses{margin-top: 50px}
  .studentCourses h1{text-align: center}
  .studentCoursesBox{justify-content: center}
  .sCourseBox{margin: 0 0 40px 0}
}