.sCourseContainer{
  width: 100%; height: auto;
  display: flex; flex-wrap: wrap;
}
.sCourseBox{
  width: 335px; height: 320px;
  background-color: rgba(255, 68, 0, 0.5);
  margin-right: 31.6px;
  overflow: hidden; border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0 0px 0px 0px gray;
  transition: all 0.2s;
}
.sCourseBox:hover{
  box-shadow: 0 2px 7px 2px gray;
}
.sCourseImage{
  width: 100%; height: 201px;
  background-color: #2e3033;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px; padding: 15px;
  box-sizing: border-box;
}
.sCourseTag{
  width: 100%; display: flex;
  justify-content: flex-end;
}
.sCourseTag h4{
  background-color: orangered;
  letter-spacing: 2px; color: white;
  padding: 6px 12px 7px 15px; border-radius: 8px;
  box-shadow: 0 1px 7px 1px black;
}
.sCourseBody{
  width: 100%; height: 119px;
  padding: 6px 11px;
  box-sizing: border-box;
}
.sCourseBody p{
  width: 100%; height: 77px;
  font-size: 20px; letter-spacing: 1px;
  color: #2e3033; font-weight: bold;
  overflow: hidden;
}





@media screen and (max-width: 420px) {
  .homeBox{flex-wrap: wrap}
  .hb2{flex-wrap: wrap-reverse}
  .homeBox1{
    width: 100%; height: auto;
    text-align: center;
    margin-top: 70px;
  }
  .homeBox1 img,.homeBox1 p{width: 85%}
  .studentCourses{margin-top: 50px}
  .studentCourses h1{text-align: center}
  .studentCoursesBox{justify-content: center}
  .sCourseBox{margin: 0 0 40px 0}
}