.parentGrid{
  width: 1000px; height: 1000px;
  margin: 0 auto; overflow: hidden;
  display: grid; border-radius: 10px;
  grid-gap: 5px;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
}

.childGrid1{
  background-color: #4285F4;
  grid-column: 1/6; grid-row: 1/5;
  box-sizing: border-box;
  padding: 15px 10px 10px 15px;
}
.adminCourseBoxes{
  width: 100%; height: 100%;
  overflow-y: scroll; overflow-x: hidden;
}
.adminCourseBoxes h3{
  line-height: 18px;
  margin-bottom: 15px;
  letter-spacing: 2px;
}
.adminCourseBoxes1{
  width: 100%; height: auto;
  display: flex; flex-wrap: wrap;
  justify-content: space-between;
}
.adminCourseBox{
  width: 256px; height: 160px;
  overflow: hidden; border-radius: 5px;
  background-size: cover;
  background-position: center;
}
.adminCourseBox1{
  width: 100%; height: 100%;
  box-sizing: border-box; padding: 10px;
  background-color: rgba(0, 0, 0, 0.15);
}
.acb1Div{
  width: 100%; height: 50%;
  display: flex; 
}
.acb1Div button{
  width: 50px; height: 50px;
  border-radius: 100%;
  background-color: black;
  color: white; font-size: 22px;
  box-shadow: 0px 0px 7px white;
}
.acb1Div:nth-child(2){
  align-items: flex-end;
  justify-content: flex-end;
}

.childGrid2{
  background-color: #DB4437;
  grid-column: 6/10; grid-row: 1/6;
}
.addCourse{
  width: 100%; height: 100%;
  box-sizing: border-box;
  padding: 25px 15px 10px 20px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.addCourse::-webkit-scrollbar,
.adminMssgsBox::-webkit-scrollbar,
.addCourseField textarea::-webkit-scrollbar,
.uaMssgAnduaHistory1Body::-webkit-scrollbar,
.adminCourseBoxes::-webkit-scrollbar{width: 5px;}
.addCourse::-webkit-scrollbar-thumb,
.adminMssgsBox::-webkit-scrollbar-thumb,
.addCourseField textarea::-webkit-scrollbar-thumb
.uaMssgAnduaHistory1Body::-webkit-scrollbar-thumb{
  background-color:#F4B400;
  border-radius: 10px;
}
.addCourseField{
  width: 100%;
  margin-bottom: 15px;
}
.imgUploadBox{
  width: 400px; height: 250px;
  background-color: black;
  margin-top: 5px; position: relative;
  border-radius: 5px; overflow: hidden;
}
.imgUploadBox1{
  width: 100%; height: 100%;
  display: flex; align-items: center;
  justify-content: center;
  position: absolute; top: 0; left: 0;
}
.imgUploadBox1 img{
  width: 100%; height: 100%;
}
.imgUploadBox1 div{display: flex}
.imgUploadBox1:nth-child(2){
  background-color: rgba(0, 0, 0, 0.4);
}
.imgUploadBox1 div button{
  width: 60px; height: 60px;
  border-radius: 100%;
  box-shadow: 0px 3px 7px black;
  font-size: 20px; color: white;
}
.imgUploadBox1 div button:nth-child(2){margin: 0 20px}
.addCourseField h5{
  letter-spacing: 2px;
  padding-left: 1px;
}
.addCourseField input,
.addCourseField textarea{
  width: 100%; font-size: 20px;
  overflow-x: hidden; overflow-y: scroll;
  background-color: transparent;
  color: white; letter-spacing: 1px;
  padding: 1px 0 5px 0; resize: none;
  border-bottom: 2px solid transparent;
}
.addCourseField input:focus,
.addCourseField textarea:focus{
  border-bottom: 2px solid white;
}
.addCourseField input::-webkit-input-placeholder,
.addCourseField textarea::-webkit-input-placeholder{
  color: yellow;
}
.addCourseField ul{
  width: 100%; box-sizing: border-box;
  background-color: rgb(255, 126, 115);
  padding: 4px 10px 5px 10px; border-radius: 7px;
}
.addCourseField ul li{
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: bold;
}
.addCourseFieldGroup{
  width: 100%; display: flex;
  justify-content: space-between;
}
.addCourseFieldGroup .addCourseField{width: 49%}
.fieldLabelGroup{
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.fieldLabelGroup button{
  width: 55px; height: 25px; color: #DB4437;
  padding-bottom: 1px; padding-left: 3px;
  margin-left: 10px; font-weight: bold;
  border-radius: 20px; letter-spacing: 2px;
  box-shadow: 0px 0px 5px -1px black;
  background-color: white;
}
.courseSBtn{
  width: 100%; height: 60px; border-radius: 7px;
  margin-top: 25px; font-weight: bold;
  letter-spacing: 3px; font-size: 19px;
  background-color: #F4B400; color: white;
}

.childGrid3{
  background-color: white;
  grid-column: 5/6; grid-row: 5/6;
  display: flex; align-items: center;
  justify-content: center;
}
.childGrid3 img{
  width: 85px; height: 85px;
}

.childGrid4{
  background-color: #F4B400;
  grid-column: 5/10; grid-row: 6/10;
  box-sizing: border-box; padding: 7px;
}
.repliesAndHistory{
  width: 100%; height: 100%;
  display: flex;
  justify-content: space-between;
}
.repliesAndHistory1{
  width: 49.35%; height: 100%;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
}
.repliesAndHistory1Head{
  width: 100%; height: 10%;
  box-shadow: 0 0 10px -2px goldenrod;
}
.repliesAndHistory1Body{
  width: 100%; height: 90%;
  overflow-x: hidden;
  overflow-y: scroll;
  box-sizing: border-box;
  padding: 11px 8px 0 9px;
}
.repliesAndHistory1Body::-webkit-scrollbar{width: 6px}
.repliesAndHistory1Body::-webkit-scrollbar-thumb{
  background-color: #DB4437;
  border-radius: 10px;
}
.repliesAndHistory1Box{
  width: 100%; height: auto;
  box-sizing: border-box;
  margin: 0 auto 10px auto;
  border-radius: 5px; padding: 8px;
  box-shadow: 0 2px 10px -1px goldenrod;
}
.repliesAndHistory1BoxHead{
  width: 100%; display: flex;
  align-items: center;
}
.repliesAndHistory1BoxHead img{
  width: 35px; height: 35px;
  border-radius: 100%;
  box-shadow: 0 2px 10px 0px goldenrod;
  margin-right: 7px;
}
.repliesAndHistory1BoxHead h5{
  letter-spacing: 0.8px;
  color: goldenrod;
}
.repliesAndHistory1BoxBody11{
  width: 100%; display: flex;
  align-items: center;
  justify-content: space-between;
}
.repliesAndHistory1BoxBody11 h5{
  background-color: #4285F4; color: white;
  box-sizing: border-box; margin-top: 7px;
  line-height: 16px; padding: 3px 8px 4px 8px;
  letter-spacing: 1.5px; border-radius: 5px;
}
.repliesAndHistory1BoxBody1 p{
  font-weight: bold; letter-spacing: 0.8px;
  font-size: 15px; color: brown;
  margin: 5px 0;
}
.replied{
  width: 100%; display: flex;
  justify-content: flex-end;
}
.replied p{
  background-color: orangered; color: white;
  box-sizing: border-box; text-align: right;
  line-height: 16px; padding: 3px 8px 4px 8px;
  letter-spacing: 1.5px; border-radius: 5px;
  margin: 0; font-size: 13px;
}
.repliesAndHistory1BoxBody11 div{
  display: flex; align-items: center;
  margin-top: 10px;
}
.repliesAndHistory1BoxBody11 div button{
  width: 35px; height: 35px;
  font-size: 27px; border-radius: 100%;
  background-color: transparent;
}
.repliesAndHistory1BoxBody11 div b{
  width: 25px; text-align: center;
  font-size: 13px; line-height: 13px;
  border-radius: 30px; padding: 6px 0;
}

.childGrid5{
  background-color: #0F9D58;
  grid-column: 1/5; grid-row: 5/10;
  box-sizing: border-box;
  padding: 10px 3px 10px 10px;
}
.createBlogContainer{
  width: 100%; height: 100%;
}
.createBlogContainerHead{
  width: 100%; height: 6%; display: flex;
  justify-content: space-between;
}
.createBlogContainerHead h3{
  color: white; font-size: 16px;
  letter-spacing: 2.5px;
}
.blogFieldControls{
  display: flex;
  margin-right: 5px;
}
.blogFieldControls button{
  width: 65px; height: 25px; font-size: 11px;
  font-weight: bold; color: #0F9D58; padding-left: 1px;
  letter-spacing: 1.5px; margin-left: 5px;
  border-radius: 5px; background-color: white;
}
.createBlogContainerBody{
  width: 100%; height: 94%;
  overflow-x: hidden;
  overflow-y: scroll;
  box-sizing: border-box;
  padding-right: 7px;
}
.createBlogContainerBody::-webkit-scrollbar{width: 5px}
.createBlogContainerBody::-webkit-scrollbar-thumb{
  background-color: black;
  border-radius: 20px;
}
.blogForm{
  width: 100%; height: auto;
}
.blogFormHead{
  width: 100%; display: flex;
  align-items: center;
  margin: 10px 0 15px 0;
}
.blogFormHead i{
  margin-right: 5px;
  color: white;
}
.blogFormHead p{
  width: 50%; font-weight: bold;
  font-size: 13px; color: white;
  letter-spacing: 2px;
  padding-bottom: 1px;
}
.blogImage{
  width: 100%; height: 230px;
  margin-top: 5px; overflow: hidden;
  border-radius: 6px; display: flex;
  align-items: center; justify-content: center;
  background-size: contain; background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.3);
}
.blogImage button{
  width: 62px; font-size: 50px;
  color: #0F9D58; border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}
.blogImage button:nth-child(3){color: #DB4437}