.homeHeader, .homeBox{
  width: 100%; display: flex;
  align-items: center;
}
.homeHeader1, .homeBox1{
  width: 50%; height: 60vh;
  display: flex; align-items: center;
  justify-content: center;
}
.quotes{
  width: 60%;
  letter-spacing: 1px;
}
.quotes p{
  font-style: italic;
  text-align: right;
  margin-bottom: 8px;
}
.quotes h4{text-align: right}
.hImg{
  transform-origin: center center;
  transform: scale(0.5);
  transition: all 0.35s;
} 
.homeBox1 img{
  width: 400px; height: auto;
}
.homeBox1 p{
  font-size: 28px; width: 70%;
}
.hb2 .homeBox1 p{text-align: right}
.extraBox{width: 0; height: 0;}

@media screen and (max-width: 420px) {
  .homeHeader{
    flex-wrap: wrap-reverse;
    margin-bottom: 20px;
  }
  .homeHeader1{width: 100%; height: 40vh}
  .quotes{width: 80%}
  .quotes p,.quotes h4{
    text-align: center;
    font-size: 18px;
  }

  .homeBox{flex-wrap: wrap}
  .hb2{flex-wrap: wrap-reverse}
  .homeBox1{
    width: 100%; height: auto;
    text-align: center;
    margin-top: 70px;
  }
  .hb2 .homeBox1 p{text-align: center}
  .homeBox1 img,.homeBox1 p{width: 85%}
  .extraBox{width: 100%; height: 50px;}
}