.homeBoxe{
  width: 100%; height: auto;
  display: flex; align-items: center;
  margin: 100px 0;
}
.homeBoxImg,.homeBoxCnts{
  width: 50%; height: auto;
  box-sizing: border-box;
  padding: 0 60px;
}
.homeBoxImg img{
  width: 100%; height: auto;
}
.homeBoxCnts{
  padding: 40px 55px 20px 55px;
  box-shadow: 0px 2px 10px -3px gray;
  border-radius: 10px;
}
.homeBoxCnt{
  width: 100%; height: auto;
  margin-bottom: 25px;
}
.homeBoxCnt p{ font-size: 24px }
.homeBoxCnt a{
  background-color: orangered;
}
.homeBoxCnt a,
.homeBoxCnt li a p{
  letter-spacing: 1px; color: white;
  padding: 3px 8px; border-radius: 5px;
  font-size: 18px;
}
.homeBoxCnt li{
  width: 100%; display: flex;
  align-items: center;
  margin-top: 5px;
}
.homeBoxe:nth-child(2) .homeBoxCnt:nth-child(2) li:nth-child(1) a{
  background-color: #42b883;
}
.homeBoxe:nth-child(2) .homeBoxCnt:nth-child(2) li:nth-child(2) a{
  background-color: #696464;
}
.homeBoxe:nth-child(2) .homeBoxCnt:nth-child(2) li:nth-child(3) a{
  background-color: #91b029;
}
.homeBoxe:nth-child(2) .homeBoxCnt:nth-child(2) li:nth-child(4) a{
  background-color: #eb7070;
}
.homeBoxe:nth-child(2) .homeBoxCnt:nth-child(2) li:nth-child(5) a{
  background-color: ;
}
.homeBoxCnt li i{
  font-size: 20px; margin-top: 2px;
  margin-right: 7px; color: gray;
}

@media screen and (max-width: 420px) {
  .homeBoxe{
    flex-wrap: wrap;
    margin: 50px 0 0px 0;
  }
  .homeBoxe:nth-child(odd){
    flex-wrap: wrap-reverse;
  }
  .homeBoxImg,.homeBoxCnts{
    width: 100%; padding: 20px;
    margin-bottom: 30px;
  }
}