.App{width: 100%; height: auto;}

.Router_View{
  max-width: 1150px; height: auto;
  position: relative; top: 65px;
  margin: 0 auto; box-sizing: border-box;
  padding: 20px 25px;
}
@media screen and (max-width: 420px) {
  .Router_View{
    padding: 20px 0px;
  }
}